// Fonts
$primaryFont: 'Objectivity';
$secondaryFont: 'Objectivity';
$textFont: 'Objectivity';
$boldTextFont: 'Objectivity';
$baseFontSize: 16px;
$baseFontColor: #072a2e;

// Colours
$primary: #4593A5;
$primaryLight: #F6F2FD;
$secondary: #DAE3DD;
$tertiary: #F5F2EF;
$quaternary: #F6F8FF;
$lightgrey: #efefef;
$text: $baseFontColor;
$textLight: #122f32;
$border: #d6dbe1;
$white: #fff;
$borderDark: lighten($text, 35%);
$success: #64c82d;
$warning: #ffc458;
$error: tomato;

$grey: #eff4f7;